
body {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    background-color: #171929;
}

/* -----------------------Header------------------------------- */

header {
    width: 100%;
    height: 100px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 43%, rgba(19,19,117,1) 100%, rgba(33,133,153,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.menu-container {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.menu-container figure {
   width: 30%;
}

.menu-container figure img {
    width: 80%;
}

    

.menu-container nav ul li {
    list-style: none;
    display: inline;
    margin-left: 15px;
}

.menu-container nav ul li a {
    text-decoration: none;
    color: white;
}

.menu-container nav ul li a:hover {
    border-bottom: solid 1px  #b3bbbb;
    color: #b3bbbb;
}

/* ----------------------------Main---------------------------------- */

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main .main-section {
    width: 70%;
    text-align: center;
}

main .main-section h1 {
    color: white;
}

main .main-section figure img {
    width: 100%;
}

/* ----------------------section features----------------- */

.features {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-image: url('images/bg-curvy-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.features .features-container {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.features .features-container article img {
   width: 40px;
}

.features .features-container article {
    display: grid;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, .3);
    grid-template-rows: repeat(4, 1fr);
}


.features .features-container article a {
    text-decoration: none;
    color: rgb(19, 17, 17);
    align-self: center;
    height: 60px;
    line-height: 60px;
    background-color: aliceblue;
}

.features .features-container article a:hover {
    text-decoration: initial;
    color: rgb(19, 17, 17);
    align-self: center;
    height: 60px;
    line-height: 60px;
    background-color: rgb(168, 167, 240);
}

/* --------------------------Why------------------------- */

.why {
    width: 100%;
    text-align: center;
    margin-top: 0px;
    background-color: #181F2B;
}

.why .title-why {
    width: 100%;
    color: white;
    font-size: 32px;
    font-weight: bold;
    margin-top: 0px;
    padding-top: 20px;
}

.why-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.grid-container {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

/* --------------------------menu-hamburgera----------------------- */
.burger-button {
    width: 40px;
    height: 40px;
    font-size: 20px;
/*     border-radius: 50%;
    background-color:rgba(0, 0, 0, .8);  */
    display: none;
    line-height: 40px;
    text-align: center;
    position: fixed;
    z-index: 4;
    right: 5px;
    top: 20px;
    color: white;
  }
/* 
  --------------------------section How----------------------------------- */
  .how {
      color: white;
      text-align: center;  
      display: grid;
  }
  .title-how {
    font-size: 32px;
    font-weight: bold;
}

  .how .how-container {
    width: 80%;
    display: grid;
    justify-self: center;
    grid-template-columns: 1fr 1fr;
  }
  .how .how-container div {
      display: grid;
      grid-template-columns: 1fr 1fr;
  }
  .how .how-container div figure {
      width: 100%;
      margin: 0;
      padding: 0;
  }
  .how .how-container div figure img {
    width: 100%;
}

.how .how-container div p {
    font-size: 24px;
}



/* 
--------------------------------------Responsive------------------------------------------------ */

@media screen and (max-width: 1023px){
    .menu-container nav ul li {
        margin-left: 5px;
    }
    .menu-container figure {
        width: 10%;
     }
     
     .menu-container figure img {
         width: 150px;
     }
}

@media screen and (max-width: 768px){

    .menu-container {
        width: 100%;
    }
    .menu-container nav ul li {
        margin-left: 5px;
    }
    .menu-container figure {
        width: 10%;
     }
     
     .menu-container figure img {
         width: 150px;
     }
    
}

@media screen and (max-width: 480px){

 
   
    .menu-container {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .menu-container figure {
       width: 50%;
    }
    
    .menu-container figure img {
        width: 100%;
    }
    .menu-container nav ul{
        display: initial;
    }    
    .menu-container .menu ul li a {
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 40px;
        font-size: 32px;
        text-decoration: underline;
        margin-bottom: .5em;
    }
    
    .menu-container .menu ul li a:hover {

        border-bottom: solid 1px  #b3bbbb;
        color: #b3bbbb;
    }

    .burger-button {
        display: block;
      }  
 
      .menu {
        position: fixed;
        background-color: rgba(12, 12, 12, 0.8);
        z-index: 3;
        top: 0;
        bottom: 0;
        left: -100vw;
        width: 100vw;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s; 
         
     }  

     .menu.is-active{
         left: 0;
     }
  
    .features .features-container {
        width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
    .grid-container {
        width: 80%;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }

}

@media screen and (max-width: 320px){
    .features .features-container {
        width: 80%;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
    .menu-container .menu ul li a {
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 40px;
        font-size: 24px;
        text-decoration: underline;
        margin-bottom: .5em;
    }

}