body {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    background-color: #171929;
}

/* -----------------------Header------------------------------- */

header {
    width: 100%;
    height: 100px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 43%, rgba(19,19,117,1) 100%, rgba(33,133,153,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.menu-container {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-container figure {
   width: 30%;
}

.menu-container figure img {
    width: 80%;
}

.menu-container nav {
    
}

.menu-container nav ul li {
    list-style: none;
    display: inline;
    margin-left: 15px;
}

.menu-container nav ul li a {
    text-decoration: none;
    color: white;
}

.menu-container nav ul li a:hover {
    border-bottom: solid 1px  #b3bbbb;
    color: #b3bbbb;
}

/* ----------------------------Main---------------------------------- */

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main .main-section {
    width: 70%;
    text-align: center;
}

main .main-section h1 {
    color: white;
}

main .main-section figure img {
    width: 100%;
}

/* ----------------------section features----------------- */

.features {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-image: url('images/bg-curvy-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.features .features-container {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.features .features-container article img {
   width: 40px;
}

.features .features-container article {
    display: grid;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, .3);
    grid-template-rows: repeat(4, 1fr);
}


.features .features-container article a {
    text-decoration: none;
    color: rgb(19, 17, 17);
    align-self: center;
    height: 60px;
    line-height: 60px;
    background-color: aliceblue;
}

.features .features-container article a:hover {
    text-decoration: initial;
    color: rgb(19, 17, 17);
    align-self: center;
    height: 60px;
    line-height: 60px;
    background-color: rgb(168, 167, 240);
}
/* 
--------------------------------------Responsive------------------------------------------------ */

@media screen and (max-width: 1023px){

}

@media screen and (max-width: 768px){
    
    .menu-container {
        width: 100%;
    }
    .menu-container nav ul li {
        margin-left: 5px;
    }
    .menu-container figure {
        width: 10%;
     }
     
     .menu-container figure img {
         width: 150px;
     }
    
}

@media screen and (max-width: 480px){
    .menu-container nav ul li a {
        font-size: 14px;
    }
    .features .features-container {
        width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }

}

@media screen and (max-width: 320px){
    .features .features-container {
        width: 80%;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
}